.theme-dark {
    --background: #000000;
    --foreground: #ecedee;
    --card: #18181b;
    --card-foreground: #ecedee;
    --popover: #18181b;
    --popover-foreground: #ecedee;
    --primary: #006fee;
    --primary-foreground: #ffffff;
    --secondary: #27272a;
    --secondary-foreground: #f4f4f5;
    --muted: #27272a;
    --muted-foreground: #a1a1aa;
    --accent: #3f3f46;
    --accent-foreground: #f4f4f5;
    --destructive: #f31260;
    --typography-link: var(--primary);
    --typography-secondary: var(--muted-foreground);
    --typography-success: #17c964;
    --typography-warning: #f5a524;
    --typography-danger: var(--destructive);
    --typography-disabled: var(--muted-foreground);
    --typography-mark-background: rgb(245 165 36 / 30%);
    --border: #27272a;
    --input: #3f3f46;
    --ring: #006fee;
    --chart-1: #006fee;
    --chart-2: #7828c8;
    --chart-3: #17c964;
    --chart-4: #f5a524;
    --chart-5: #f31260;
    --sidebar: #18181b;
    --sidebar-foreground: #ecedee;
    --sidebar-primary: #006fee;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #27272a;
    --sidebar-accent-foreground: #f4f4f5;
    --sidebar-border: #27272a;
    --sidebar-ring: #006fee;
}
