:root,
.theme-light {
    --radius: 0.625rem;
    --background: #ffffff;
    --foreground: #11181c;
    --card: #ffffff;
    --card-foreground: #11181c;
    --popover: #ffffff;
    --popover-foreground: #11181c;
    --primary: #006fee;
    --primary-foreground: #ffffff;
    --secondary: #f4f4f5;
    --secondary-foreground: #18181b;
    --muted: #f4f4f5;
    --muted-foreground: #71717a;
    --accent: #e4e4e7;
    --accent-foreground: #18181b;
    --destructive: #f31260;
    --typography-link: var(--primary);
    --typography-secondary: var(--muted-foreground);
    --typography-success: #17c964;
    --typography-warning: #f5a524;
    --typography-danger: var(--destructive);
    --typography-disabled: var(--muted-foreground);
    --typography-mark-background: #fde68a;
    --border: #e4e4e7;
    --input: #d4d4d8;
    --ring: #006fee;
    --chart-1: #006fee;
    --chart-2: #7828c8;
    --chart-3: #17c964;
    --chart-4: #f5a524;
    --chart-5: #f31260;
    --sidebar: #fafafa;
    --sidebar-foreground: #11181c;
    --sidebar-primary: #006fee;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #f4f4f5;
    --sidebar-accent-foreground: #18181b;
    --sidebar-border: #e4e4e7;
    --sidebar-ring: #006fee;
}
