@reference "@lri/index.css";

@layer components {
  .sidebar-user-root {
    @apply w-full min-w-full;
  }

  .sidebar-user-item {
    @apply flex flex-row justify-center items-center h-12 gap-3 cursor-pointer;
    padding: 4px 8px !important;
  }

  .sidebar-user-item-icon {
    font-size: 20px;
  }

  .sidebar-user-item-content {
    flex: 1;
  }

  .sidebar-user-wrapper {
    @apply flex flex-row min-w-full w-full;
  }

  .sidebar-user-text {
    @apply flex min-w-0 flex-col flex-1;
  }
}
